<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss.SSS}) %highlight(%-5level) %blue(┃) %yellow(%-45.45logger{45})
                %blue(┃) %n%blue(┗━►) %msg%n%n
            </pattern>
        </encoder>
    </appender>
    <logger name="tech.provokedynamic.gymcrm" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="net.ttddyy.dsproxy.listener.logging.SLF4JQueryLoggingListener" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="net.ttddyy.dsproxy.listener.logging.SLF4JSlowQueryListener" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>