<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss.SSS}) %highlight(%-5level) %blue(┃) %yellow(%-45.45logger{45})
                %blue(┃) %n%blue(┗━►) %msg%n%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/gymcrm.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/gymcrm.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-45.45logger{45} %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <logger name="tech.provokedynamic.gymcrm" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.springframework" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="net.ttddyy.dsproxy.listener.logging.SLF4JQueryLoggingListener" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="net.ttddyy.dsproxy.listener.logging.SLF4JSlowQueryListener" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="tech.provokedynamic.gymcrm" level="INFO" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
        <logger name="org.springframework" level="WARN" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
        <logger name="org.hibernate.SQL" level="WARN" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
        <root level="WARN">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>